firefox/.mozilla/firefox/087i5s17.default
firefox/.mozilla/firefox/2sqqhxzp.default-release
firefox/.mozilla/firefox/'Crash Reports'
firefox/.mozilla/firefox/'Pending Pings'
firefox/.mozilla/firefox/firefox-mpris
firefox/.mozilla/firefox/installs.ini
firefox/.mozilla/firefox/profiles.ini
firefox/.mozilla/firefox/yzvz58lp.default-release
zsh/.config/zsh/.histfile
gtk/.config/gtk-4.0/servers
gtk/.config/gtk-3.0/bookmarks
gtk/.config/gtk-3.0/bookmarks
backups/backup-script/backup-script-variables.sh
