firefox/.mozilla/firefox/087i5s17.default
firefox/.mozilla/firefox/2sqqhxzp.default-release
firefox/.mozilla/firefox/'Crash Reports'
firefox/.mozilla/firefox/'Pending Pings'
firefox/.mozilla/firefox/firefox-mpris
firefox/.mozilla/firefox/installs.ini
firefox/.mozilla/firefox/profiles.ini
firefox/.mozilla/firefox/yzvz58lp.default-release
