// UNSET DEFAULT GTK CSS
* { all: unset; }

@import '/home/arik/.cache/wal/colors.scss';




.bob {
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(135deg, #33ccff, #00ff99);
  color: $foreground;
  font-size: 0px;
  border-radius: 15px;
  border-width: 0px;
  border-color: #000000;
  border-style: solid;
  opacity: 1;
}

.joe {
  /* background-color: $background; */
  color: purple;
  font-family: "Open Sans";
  /* font-weight: 600; */
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}

button {
  background-color: purple;
  color: yellow;
}