.example {
    background-color: #3a3a3a;
    color: #b0b4bc;
    padding: 10px;
    margin: 20px;
    border-radius: 40px;
    border-width: 2px;
    border-color: #ff0000;
    border-style: solid;
    box-shadow: 5px 5px 5px #000000;
  }